
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Signup Area</h1>
                    <h5>Create Free Account</h5>
                    <hr>
                    <br>
                    <form action="">
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                placeholder="Enter name">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Mobile</label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                placeholder="Enter mobile">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Email Id</label>
                            <input type="email" class="form-control" id="formGroupExampleInput"
                                placeholder="Enter Email">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Password</label>
                            <input type="password" class="form-control" id="formGroupExampleInput2"
                                placeholder=" password">
                        </div>
                    
                    <button type="button" class="btn btn-primary text-center">Signup</button>
                    <p></p>
                    </form>
                    <a style="text-decoration: none; cursor:pointer; color:green; font-weight: bold;" routerLink="/login">Already Account ? Click to Login</a>
                
                </div>
            </div>
        </div>
    </div>
</div>    